* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2vw
}

.title {
    margin-top: 2vw;
    margin-bottom: 1vw;
}

/* NAVBAR ---------------------- */
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

#separator {
    height: 3.5vw;
}

.nav-links a {
    color: #fff;
}

#aboutUs {
    width: 100%;
}

.textContainer, .marcasss {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 400px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(0, 0, 0);
}

#text {
    color: aliceblue;
    font-size: 1.5vw;
    width: 70%;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #c3002f;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* Uso del Checkbox */
input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}



/* FOOTER ---------------------- */
footer {
    position: static;
    background: #111;
    width: 100%;
    padding-top: 3vw;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .5s ease;
}

.socials a:hover i {
    color: #C3003F;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
}

#frame {
    border-radius: 2vw;
}

@media (max-width: 600px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #333;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #C3003F;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

/* @media (max-width: 1666px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #333;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #C3003F;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 1920px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #333;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #C3003F;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
} */
.textContainer>div  {
    margin-top: 50px;
    display: flex;
    width: 49%;
    overflow: hidden;
}
.servi>img{
    
    width: 100%;
    height: 300px;
    transform: translate(-100px) skewX(-25deg);
}
.logos{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 60px;
}
.marcasss>div{
    margin-top: 50px;
    display: flex;
  
}
.marcsup{
    height: 400px;
    width: 70%;
   /* border-left-width: 5px;
    border-left: #fff;
    border-style: solid;*/
    transform: translateX(400px) translateY(20px) skewX(-25deg);
    overflow:hidden;
}
.marcas{
    display: flex;
    padding-left: 65px;
    background-color: #fff;
    border: #000;
    border-style: solid;
    border-width: 7px;
    overflow: hidden;
}
.marcas>div{
    display: flex;
    height: 50%;
}
#num1{
    transform: translateX(150px) skewX(25deg);
}
#num2{
    transform: translateX(-300px) translateY(200px) skewX(25deg);
}
#text2>h2{
    color: #fff;
    padding-top: 120px;
    transform: translateX(150px)
}